{% extends 'covidapp/base.html' %}
    {% comment %} Load on top section in your  custom templates tags {% endcomment %}
    {% load custom_tags %}
    {% block content %}
        <style>
            a:hover{
                text-decoration:none;
            }
            a{
                color:black;
            }
        </style>
        <form action="" id="filterForm" method="GET">
            <div class="row">
                <div class="col">   
                    <div class="form-group">
                        <label for="states">State</label>
                        <select class="form-control"  id="stateSelect" name="state">
                            <option value="">select state</option>
                            {% for state in states %}
                                <option value="{{state.pk}}" {% is_option_selected selected_state_id state.pk %}>{{state}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col">  
                    <div class="form-group">
                        <label for="states">City</label>
                        <select class="form-control" id="citySelect" name="city">
                            <option value="">select city</option>
                            {% for city in cities %}
                                <option value="{{ city.pk}}" {% is_option_selected selected_city_id city.pk %} >{{city.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col">  
                    <div class="form-group">
                        <label for="states">Facility</label>
                        <select class="form-control" id="facilitySelect" name="facility">
                            <option value="">select facility</option>
                            {% for facility in facilities %}
                                <option value="{{ facility.pk}}" {% is_option_selected selected_facility_id facility.pk %} >{{facility.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                
            </div>
            <a href="/" class="btn btn-danger">Reset</a>
        </form>
        <table class="table table-bordered table-striped text-center">
            <thead class="thead-light">
                <tr>
                    <th rowspan="2">Hospital</th>
                    {% for facility in facilities %}
                    <th colspan="2">{{ facility}}</th>
                    {% endfor %}
                   
                </tr>
                <tr>
                    {% for facility in facilities %}
                    <th>Total</th>
                    <th>Avaliable</th>
                     {% endfor %}
                </tr>
                
            </thead>
            <tbody>
                {% for hospital in hospitals %}
                    <tr>
                        <td><a href="/hospital/{{ hospital.id }}">{{ hospital.name }}</a></td>
                        {% comment %} Get all availabilities filter by hospital using custom tag {% endcomment %}
                        {% get_availabilities hospital as availabilities %}
                        {% for availability in availabilities %}
                            <td>{{ availability.total }}</td>
                            <td class="{% get_table_class availability.available %}">{{ availability.available }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            
        </table>

        <script>
        window.onload=function(){
            const stateSelect =document.getElementById('stateSelect');
            const citySelect =document.getElementById('citySelect');
            const facilitySelect =document.getElementById('facilitySelect');

            const form =document.getElementById('filterForm');
            const formSubmit =function(){
                form.submit();
            }

            stateSelect.onchange =formSubmit
            citySelect.onchange =formSubmit
            facilitySelect.onchange =formSubmit
        }
        </script>
{% endblock content %}